<div class='homepage'>
  <div id='title'>
    <div>
      <h1 >Guitarists cannot make music without guitars.</h1>
    </div>
    <div>
      <h1>Share yours. Find others.</h1>
    </div>
  </div>
  <div id='break'>
    <p>___________</p>
  </div>
  {{!-- <div id="home-middle"> --}}
    <div id='description'>
      <div class="mid-home-container">
        <p>Welcome to </p>
        <p class="luna-font">
          GuitHub
        </p>
      </div>
      {{!-- different font --}}
      <p>
        a community where artists can share their passion for guitars.</p>
      </p>
    </div>
    <div id='details'>
      <div class='details-box'>
        <div>
          <h4 class="title-red">Explore</h4>
          <h4>guitars that other artists own or have created.</h4>
        </div>
        <p>
          As a member, you will be able to checkout other artists' guitars, and admire your own collection.
        </p>
        {{! make it smaller and italic }}
      </div>
      <div class='details-box'>
        <div>
          <h4 class="title-red">Share</h4>
          {{! en granate }}
          <h4>your guitar with the world </h4>
        </div>
          <p>
            Members can create specific profiles of their guitars and share with other with the click of a button!</p>
      </div>
    </div>
  {{!-- </div> --}}
  <div>
    <h4 id='signup'><a href='/auth/signup'>Sign up!</a></h4>
  </div>
  {{!-- are you ready in one line, hoover effect to change into gold --}}
</div>

{{!--  --}}