@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/luna-2');

:root {
  --border-color: #bcbcbc;
  --shadow-color: #4e4e4e;
  --text: #ffffff;
  --dark-red: #85161a;
  --tinted-red: #B67376;
  --dark-gold: #D4BE6B;
  --white-transparent: #d9d9d929;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  font: 1rem 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background-image: url('../images/cover-image6.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text);
}

span {
  align-self: flex-start;
}

a {
  color: var(--shadow-color);
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.9rem;
}

input[type='file']:hover {
  cursor: pointer;
}
input[type='file' i]:hover {
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='file'],
select,
textarea {
  padding: 0.3rem 0.5rem;
}

textarea {
  resize: none;
  min-height: 5.5rem;
}

.error {
  color: var(--text);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--tinted-red);
  padding: 1.5vh 5%;
  margin-bottom: 3vh;
  background-color: var(--tinted-red);
  border-radius: 1vw;
}

  #navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 0.8vw;
    font-size: 1.5vw;
  }

  #navbar ul a {
    text-decoration: none;
    color: white;
  }

  #navbar h2 a{
    font-family: "Luna", sans-serif;
    padding-top: 4vw;
  }

  #navbar h2 {
    padding-top: 1vw;
  }

#wrapper {
  display: flex;
  justify-content: center;
  overflow: auto;
  /* height: 100%; */
}

.box {
  margin-bottom: 5rem;
  padding: 2% 4%;
  border: 1px solid var(--tinted-red);
  box-shadow: 0px 4px 4px 1px var(--shadow-color);
  border-radius: 30px;
  height: 73vh;
  overflow: auto;
  background-color: rgba(217, 217, 217, 0.16);
}

.box > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#empty-collection {
  margin-top: 20%;
  text-align: center;
}

.box > img {
  border-radius: 30px;
  max-width: 60%;
}

.auto-width {
  min-width: 30%;
  max-width: 75%;
}

.max-width {
  width: 85%;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0.6rem 0;
}

.form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.button {
  border: none;
  align-self: center;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  border-radius: 10px;
}

.button:active {
  box-shadow: inset 0px 0px 4px 0px black;
}

.button-group {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  row-gap: 1.5rem;
}

.button-group .button {
  width: 100%;
}

.buttonlink {
  color: black;
  text-decoration: none;
}

.edit-btn:active {
  box-shadow: inset 0px 0px 5px 0px black;
}

.row-btns {
  align-self: center;
  display: flex;
  column-gap: 10%;
}

.delete {
  background-color: var(--dark-red);
  color: white;
  border: none;
}

.delete:active {
  box-shadow: inset 0px 0px 4px 0px var(--border-color);
}

.guitars-grid {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 3rem;
}

/* homepage */

#title {
  text-align: center;
}

  #title h1 {
    margin-bottom: 2%;
    font-size: 3vw;
  }

#break {
  text-align: center;
  color: var(--tinted-red)
}

#home-middle {
  margin: 5vh 27vw;
}

  #description {
    text-align: center;
    align-items: center;
    font-size: 2vw;
    max-width: 50vw;
    margin-bottom: 5vw;
  }
    
    .luna-font {
      font-family: "Luna", sans-serif;
    }

    .mid-home-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mid-home-container p {
      margin-right: 1vw;
    }

  #details {
    display: flex;
    flex-direction: column;
  }
    .title-red {
      color:#E7D0D1;
    }

  .details-box {
    margin: 2%;
    background-color: rgba(217, 217, 217, 0.16);
    border: 1px solid var(--tinted-red);
    border-radius: 20px;
    padding: 4%;
    text-align: center;
    max-width: 40vw;
    font-size: 1.5vw;
  }
    .details-box div {
      margin-bottom: 5%;
    }


  #signup {
    text-align: center;
    background-color: var(--tinted-red);
    border-radius: 2vw;
    margin: 5vh 28vw;
    padding: 1% 0 1% 0;
    color: #333;
    font-size: 1.5vw;
  }

  #signup > a {
    color: #333;
  }

.auth-link {
  color: var(--text);
}

footer {
  display: flex;
  /* height: 2.5vh; */
  justify-content: space-between;
  align-items: center;
  margin: 5vw 2vw 2vw 2vw;
}

  footer p {
    font-size: 1.2vw;
  }

  #footer-first-part {
    display: flex;
    align-items: center;
  }

  .logo-ironhack {
    width: 4vw;
  }

  #footer-first-part p {
    margin-right: 1vw;
  }


.guitar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: rgb(217, 217, 217);
  color: black;
  border-radius: 30px;
  row-gap: 0.6rem;
  width: 300px;
  height: 400px;
}

.guitar-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.guitar-card > h3 {
  text-align: center;
}

.guitar-card > p {
  font-size: 0.85rem;
}

.guitar-card > a {
  max-width: 70%;
}

.guitar-card > a > img {
  border-radius: 30px;
  width: 100%;
}

.guitar-card > form {
  align-self: center;
}

#profile-details {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}



/* #home-middle {
  margin: 10% 2% 0 50%;
} */
